<app-page-preloader></app-page-preloader>

<!-- ABOUT -->
<div class="tm_section relative" id="about">
    <div class="tm_about_wrapper_all">
        <div class="tm_header_wrap">
            <div class="tm_title_holder">
                <h3>About Me</h3>
                <span>Main informations about me</span>
            </div>
        </div> 
        <div class="container">
            <div class="tm_about_wrap">
                <div class="author_wrap">
                    <div class="leftbox">
                        <div class="about_image_wrap parallax" data-relative-input="true">
                            <div class="border layer" data-depth="0.2">
                                <img src="../../assets/img/about/1.jpg" alt="" />
                                <div class="inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="rightbox">
                        <div class="tm_mini_title_holder">
                            <h2>I'm a software developer by profession</h2>
                        </div>
                        <div class="definition">
                            <p>Hi! My name is <strong>Thuso Mokopotsa</strong>, and I am a qualified software engineer.
                                I'm passionate about building the best innovative solutions that help increase revenue, 
                                accelerate customer acquisition, and deliver industry-leading competitive advantage.
                            </p>

                            <p>My focus is to build applications that are easy to use: "keep it simple but perfectly working."
                                I enjoy every step of the design process, from discussion and collaboration to concept and execution, 
                                but I find the most satisfaction in seeing the finished product do everything that it was created to do.</p>

                            <p>I actively seek out new technologies and stay up-to-date on industry trends and advancements. This has allowed 
                                me to stay ahead of the curve and deliver exceptional work at all times.</p>

                        </div>
                        
                        <div class="buttons_wrap">
                            <ul>
                                <li class="anchor">
                                    <a routerLink="/projects"><span>View Portfolio</span></a>
                                </li>
                                <li class="anchor">
                                    <a routerLink="/contacts"><span>Send Message</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- /ABOUT -->
<!-- SKILLS -->
<div class="tm_section" id="skills">
    <div class="tm_skills_wrap">
        <div class="container">
            <div class="inner_wrap">
                <div class="leftbox">
                    <div class="tm_mini_title_holder">
                        <h2>Some About my Abilities</h2>
                    </div>
                    <p>
                        With my experience in web development, I can build web applications with various programming languages. 
                        For the back-end development, I am knowledgeable in C#, PHP, and JAVA. Most importantly, I prefer C#.
                    </p>
                    <p>
                        As for the front-end, I have worked with JavaScript, Angular, VeuJs, CSS3/HTML5, and WordPress. 
                        I have experience in designing websites that are responsive to different devices.  
                    </p>
                </div>
                <div class="rightbox">
                    <div class="progress_bar_wrap_total">
                        <div class="tm_progress_wrap" data-size="small" data-round="c" data-strip="off">
                            <div class="tm_progress" data-value="83" data-color="#000">
                                <span><span class="label">Web applications (MVC) - <span class="experience"></span></span><span class="number">83%</span></span>
                                <div class="tm_bar_bg"><div class="tm_bar_wrap"><div class="tm_bar"></div></div></div>
                            </div>
                            <div class="tm_progress" data-value="85" data-color="#000">
                                <span><span class="label">REST APIs - <span class="experience"></span></span><span class="number">85%</span></span>
                                <div class="tm_bar_bg"><div class="tm_bar_wrap"><div class="tm_bar"></div></div></div>
                            </div>
                            <div class="tm_progress" data-value="75" data-color="#000">
                                <span><span class="label">Database (MySQL /MSSQL) - <span class="experience"></span></span><span class="number">75%</span></span>
                                <div class="tm_bar_bg"><div class="tm_bar_wrap"><div class="tm_bar"></div></div></div>
                            </div>
                            <div class="tm_progress" data-value="85" data-color="#000">
                                <span><span class="label">javascript - <span class="experience"></span></span><span class="number">85%</span></span>
                                <div class="tm_bar_bg"><div class="tm_bar_wrap"><div class="tm_bar"></div></div></div>
                            </div>
                            <div class="tm_progress" data-value="80" data-color="#000">
                                <span><span class="label">HTML5 and CSS3 - <span class="experience"></span></span><span class="number">80%</span></span>
                                <div class="tm_bar_bg"><div class="tm_bar_wrap"><div class="tm_bar"></div></div></div>
                            </div>
                            <div class="tm_progress" data-value="85" data-color="#000">
                                <span><span class="label">Hybrid mobile Apps- <span class="experience"></span></span><span class="number">85%</span></span>
                                <div class="tm_bar_bg"><div class="tm_bar_wrap"><div class="tm_bar"></div></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /SKILLS -->

<div class="tm_image_text">
    <div class="tm_image-wrap">
        <div class="tm_about_image"></div>
    </div>
    <div class="tm_about_text">
        <h2>
            I can develop what you need
        </h2>
        <p>
            I have experience in building web applications that run across devices. I can build mobile applications for android and IOS.
        </p>
        <div class="buttons_wrap">
            <ul>
                <li class="anchor">
                    <a href="/contacts" style="float: none;"><span>Get in touch</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tm_text_image">
    <div class="tm_about_text">
        <h2>I can help you</h2>
        <p>I can fix and upgrade existing applications. I can learn, teach, and give guidance on what I learned/know.</p>
    </div>
    <div class="tm_image-wrap">
        <div class="tm_about_image"></div>
    </div>
</div>