  
 
  td, th {
   
    &:nth-child(1){
        width: 30%;
    }
    &:nth-child(2){
        width: 50%
    }
    &:nth-child(3){
        width: 14%;
    }
  }



@media (max-width: 1200px) {

}
@media (max-width: 1040px) {

}
@media only screen and (max-width: 600px){
    
}