<!-- <div class="tm_search-response" id="search-response">
        <div class="tm_header_wrap">
            <div class="tm_title_holder">
                <h3>Epic 404 - Article Not Found</h3>
                <span> The article you were looking for was not found, but maybe try searching below!</span>
            </div>
        </div> 
    
    
    <div class=" container tm_search-response__body">
        <h1>test</h1>
    </div>
</div> -->


<!-- <app-page-preloader></app-page-preloader> -->

<!-- CONTACT & FOOTER -->
<div class="tm_section tm_search-response" id="search-response">
    <div class="tm_header_wrap">
      
    <div class="container">
        <div class="tm_title_holder">
            <h3>Epic 404 - Article Not Found</h3>
            <span>The article you were looking for was not found, but maybe try searching below!</span>
        </div>
    </div>
</div> 
    <div class="tm_response_wrap_all">
        <div class="container">
            <div class="tm_response_wrap">
                <div class="main_table_wrap">
                    <p>tese</p>
                    <div>
                        <ngx-datatable [rows]="rows" [columns]="columns"> </ngx-datatable>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /CONTACT & FOOTER -->