<app-page-preloader></app-page-preloader>

<!-- CONTACT & FOOTER -->
<div class="tm_section" id="contact">
    <div class="tm_header_wrap">
      
    <div class="container">
        <div class="tm_title_holder contact">
            <h3>Contact Me</h3>
            <span>Get in touch with me</span>
        </div>
    </div>
</div> 
    <div class="tm_footer_contact_wrapper_all">
        <div class="tm_contact_wrap_all">
            <div class="container">
                <div class="formbox">
                    <div class="tm_contact_wrap">
                        <div class="main_input_wrap">
                            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                                <div class="returnmessage"
                                    data-success="Your message has been received, We will contact you soon."></div>
                                <div class="empty_notice"
                                    *ngIf="(!contactForm.get('name').valid && contactForm.get('name').touched) ||
                                     (!contactForm.get('email').valid && contactForm.get('email').touched) ||
                                     (!contactForm.get('message').valid && contactForm.get('message').touched)">
                                    <span>Please Fill in Your {{(!contactForm.get('name').valid && contactForm.get('name').touched) ? 'Name' : 
                                        (!contactForm.get('email').valid && contactForm.get('email').touched)? 'Email': 'Message'}}</span>
                                </div>
                                <div class="empty_notice"
                                    *ngIf="(contactForm.get('name').valid && contactForm.get('email').valid && contactForm.get('message').valid) &&
                                        (!contactForm.get('recaptcha').valid && contactForm.get('recaptcha').touched)
                                    ">
                                    <span>Please prove below that you are not a robot</span>
                                </div>
                                <div class="wrap">
                                    <input formControlName="name" id="name" type="text" placeholder="Your Name (Required)">
                                </div>
                                <div class="wrap">
                                    <input formControlName="email" id="email" type="text" placeholder="Your Email (Required)">
                                </div>
                                <div class="wrap">
                                    <textarea formControlName="message" id="message" placeholder="Your Message (Required)"></textarea>
                                </div>
                                <div class="wrap">
                                    <re-captcha class="tm_recaptcha" formControlName="recaptcha" siteKey="6LcyGcEZAAAAAMrP9oJFn-IHcq03a18PAxG-SkhU"></re-captcha>
                                </div>
                                <div class="tm_button">
                                    <!-- <a id="send_message" href="#"><span>Send Message</span></a> -->
                                    <button type="submit" id="send_message"><span>Send Message</span></button>
                                    <div *ngIf="successfulSendMessage" class="message_submitted" >Your message is sent. I will contact you via your email.</div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /CONTACT & FOOTER -->