<app-page-preloader></app-page-preloader>

<!-- PORTFOLIO -->
<div class="tm_section relative" id="portfolio">
    <div class="tm_portfolio_wrapper_all">
        <div class="tm_header_wrap">
            <div class="tm_title_holder contact">
                <h3>Creative Works</h3>
                <span>Check my latest creative works</span>
            </div>
        </div> 
        <!-- PORTFOLIO FILTER -->
        <div class="tm_second_portfolio">
        <div class="container">
            <div class="tm_portfolio_wrap">
                
                <div class="tm_portfolio_titles"></div>
                <ul class="tm_portfolio_filter">
                    <li><a (click)="onFilter($event)" class="tm_filter_link current" data-filter="*">All</a></li>
                    <li><a (click)="onFilter($event)" class="tm_filter_link" data-filter="design">Design</a></li>
                    <li><a (click)="onFilter($event)" class="tm_filter_link" data-filter="photography"> Web Apps</a></li>
                    <li><a (click)="onFilter($event)" class="tm_filter_link" data-filter="development">Mobile Apps</a></li>
                </ul>
                <!-- <div class="coming-soon">
                    <div class="coming-soon-text">
                            <h4>Sorry for inconvenience</h4>
                            <p>This section is temporarily unavailable.</p>
                    </div>
                </div> -->
                <ul class="tm_portfolio_list gallery_zoom">

                    <li *ngFor="let project of projects" class="tm_portfolio_list-item {{project.category}}">
                        <div class="entry tm_portfolio_animation_wrap">
                            <a routerLink="./{{project.slug}}">
                                <img src="../../assets/img/portfolio/600x600.jpg" alt="" />
                                <div class="tm_portfolio_image_main" style="background-image:url({{project.featuredImage}})"></div>
                            </a>
                        </div>
                        <a routerLink="./{{project.slug}}">
                            <div class="tm_portfolio_project_content">
                                <div class="tm_inner_portfolio_project_content">
                                    <h4> 
                                        {{project.title}}
                                    </h4> 
                                </div>
                            </div>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
    <!-- /PORTFOLIO FILTER -->