<div class="tm_wrapper_all">
  <!-- <div id="tm_popup_blog">
		<div class="container">
			<div class="inner_popup scrollable"></div>
		</div>
		<span class="close"><a href="#"></a></span>
	</div> -->

  <!-- PRELOADER -->
  <!-- <div class="tm_preloader">
		<div class="spinner_wrap">
			<div class="spinner"></div>
		</div>
	</div> -->
  <!-- /PRELOADER -->

  <!-- MOBILE MENU -->
  <div class="tm_mobile_header_wrap">
    <div class="main_wrap">
      <div class="logo">
        <img src="../assets/img/logo/mobile_logo.png" alt="" />
      </div>
      <div class="tm_trigger">
        <div class="hamburger hamburger--collapse-r">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="tm_mobile_menu_wrap">
      <div class="mob_menu">
        <ul class="anchor_nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/skills">Skills</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/blog">Tutorials</a></li>
          <li><a href="/contacts">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /MOBILE MENU -->

  <!-- CONTENT -->
  <div class="tm_content">

    <!-- LEFTPART -->
    <div class="tm_leftpart_wrap">
      <div class="leftpart_inner">
        <div class="logo_wrap">
          <a href="#"><img src="../assets/img/logo/desktop-logo.png" alt="" /></a>
        </div>
        <div class="menu_list_wrap">
          <ul class="anchor_nav">
            <li routerLinkActive="active"><a routerLink="/">Home</a></li>
            <li routerLinkActive="active"><a routerLink="/about">About</a></li>
            <li routerLinkActive="active"><a routerLink="/skills">Skills</a></li>
            <li routerLinkActive="active"><a routerLink="/projects">Projects</a></li>
            <li routerLinkActive="active"><a routerLink="/blog">Tutorials</a></li>
            <li routerLinkActive="active"><a routerLink="/contacts">Contact</a></li>
          </ul>
        </div>
        <div class="leftpart_bottom">
          <div class="social_wrap">
            <ul>
              <li><a href="#"><i class="xcon-facebook"></i></a></li>
              <li><a href="#"><i class="xcon-twitter"></i></a></li>
              <li><a href="#"><i class="xcon-linkedin"></i></a></li>
              <li><a href="#"><i class="xcon-instagram"></i></a></li>
              <li><a href="#"><i class="xcon-behance"></i></a></li>
            </ul>
          </div>
        </div>
        <a class="tm_resize" href="#"><i class="xcon-angle-left"></i></a>
      </div>
    </div>


    <!-- /LEFTPART -->

    <!-- RIGHTPART -->
    <div class="tm_rightpart">
      <div class="rightpart_inner">
        <app-search></app-search>
      <router-outlet></router-outlet>
        <!-- <app-footer></app-footer> -->
        <app-footer></app-footer>
      </div>
    </div>
    <!-- /RIGHTPART -->
  </div>
  <!-- /CONTENT -->
</div>