<!-- SKILLS -->
<div class="tm_section" id="skills">
    <div class="tm_skills_wrap">
        <div class="container">
            <div class="inner_wrap">
                <div class="leftbox">
                    <div class="tm_mini_title_holder">
                        <h4>Some About my Abilities</h4>
                    </div>
                    <p>
                        With my experience in web development, I can build web applications with various programming languages. For the back-end development, I am knowledgeable in C#, PHP, JAVA, Python, and Node. Most importantly, I prefer C# as my home language.    
                    </p>
                    <p>
                        As for the front-end, I have worked with WordPress, JavaScript, Angular, and VeuJs. I have experience in designing websites that are responsive on different devices.
                    </p>
                </div>
                <div class="rightbox">
                    <div class="progress_bar_wrap_total">
                        <div class="tm_progress_wrap" data-size="small" data-round="c" data-strip="off">
                            <div class="tm_progress" data-value="83" data-color="#000">
                                <span><span class="label">c# ASP.NET MVC - <span class="experience"></span></span><span class="number">83%</span></span>
                                <div class="tm_bar_bg"><div class="tm_bar_wrap"><div class="tm_bar"></div></div></div>
                            </div>
                            <div class="tm_progress" data-value="85" data-color="#000">
                                <span><span class="label">ASP .NET core - <span class="experience"></span></span><span class="number">85%</span></span>
                                <div class="tm_bar_bg"><div class="tm_bar_wrap"><div class="tm_bar"></div></div></div>
                            </div>
                            <div class="tm_progress" data-value="75" data-color="#000">
                                <span><span class="label">Angular <span class="experience"></span></span><span class="number">75%</span></span>
                                <div class="tm_bar_bg"><div class="tm_bar_wrap"><div class="tm_bar"></div></div></div>
                            </div>
                            <div class="tm_progress" data-value="85" data-color="#000">
                                <span><span class="label">javascript - <span class="experience"></span></span><span class="number">85%</span></span>
                                <div class="tm_bar_bg"><div class="tm_bar_wrap"><div class="tm_bar"></div></div></div>
                            </div>
                            <div class="tm_progress" data-value="80" data-color="#000">
                                <span><span class="label">HTML5 and CSS3 - <span class="experience"></span></span><span class="number">80%</span></span>
                                <div class="tm_bar_bg"><div class="tm_bar_wrap"><div class="tm_bar"></div></div></div>
                            </div>
                            <div class="tm_progress" data-value="85" data-color="#000">
                                <span><span class="label">Microsoft sql server- <span class="experience"></span></span><span class="number">85%</span></span>
                                <div class="tm_bar_bg"><div class="tm_bar_wrap"><div class="tm_bar"></div></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /SKILLS -->