/*====================
//      RIPPLE
======================*/

.tm_ripple_wrap{
	width: 100%;
	height:100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	 background-image: url('../../assets/img/hero/2.jpg');
	position: relative;
}
.tm_ripple_wrap .overlay{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(7,23,55,.4);
	z-index: 1;
}
.tm_ripple_wrap .container{
	height: 100%;
	z-index: 2;
}
//End RIPPLE

/*==========================
        INTRO
============================*/

.text-uppercase{
    text-transform: uppercase;
}
.tm_home__content {
    padding: 40px 60px 0;
    text-align: center;
    .tm_home_page-summary{
        font-size: 24px;
        padding-bottom: 60px;
    }
    .tm_3_block_wrap{
        padding-bottom: 40px;
        margin-bottom: 30px;
        .tm_3_block_col{
            width: 30%;
            margin: auto;
            .tm_3_block_img{
                img{
                    width: 50px;
                    height: auto;
                }
            }
            .tm_3_block_title {
                font-size: 24px;
                padding: 15px 0;
            }
        }
        .tm_3_block_col-1{
            margin-left: 0;
        }.tm_3_block_col-3{
            margin-right: 0;
        }
    }
    .tm_home_team-work{
        h2{
            font-size: 34px;
            span{
                color: #E3872D  ;
            }
        }
        .tm_home_team-work-text{
            z-index: 2;
            color: #ffffff;
        }
    }
    
}
.tm_home__content.tm_home_img-bg{
    padding-bottom: 70px;
    padding-top: 30px;
    background-image: url('../../assets/icons/sized1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.tm_home_cta{
    background-color: rgba(7, 23, 55, 0.2); 
    text-align: center; 
    padding: 50px 60px 40px;
    margin-bottom: 40px;
}
//END INTRO
