<div>
    <div class="tm_section" id="home">
    <div class="tm_hero_header_wrap">
        <div class="tm_ripple_wrap" id="ripple">
            <div class="overlay"></div>
            <div class="inner_content">
                <!-- <div class="image_wrap rainbow">
                    <div class="img_rotate_border">
                        <img src="../../assets/img/hero/img.jpg" alt="" />
                    </div>
                </div> -->
                <div class="name_holder">
                    <h3>I love bulding software <span><br/>and<br/> exploring technology</span></h3>
                     .
                </div>
                <!-- <div class="text_typing">
                    <p>I'm a <span class="tm_animation_text_word"></span><span class="tm_blink_charecter">|</span></p>
                </div> -->
                <div class="buttons_wrap">
                    <ul>
                        <li class="anchor">
                            <a href="#portfolio"><span>View Portfolio</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tm_arrow_wrap bounce anchor">
                <a href="#about"><i class="xcon-angle-double-down"></i></a>
            </div>
        </div>
    </div>
    <div class="tm_home_content tm_intro_summary_wrap">
        <h2>thusomokopotsa.com</h2>
        <div class="tm_paragraph centered">
            I have built this website to serve as internet hub where all the things that I have done, am doing and want to do can live. 
        Feel free to have a look around. 
        </div>
    </div>
    <div class="tm_home_content tm_image_bg_text_wrap">
        <h2 class="text-uppercase">Design, Develop, Success!</h2>
        <div>
            "Let's build something amazing together. Get a website that looks amazing and actually works.

            Feel free to take a deeper look at what I've accomplished and what I'm able to do for you."
        </div>
    </div>
    <div class="tm_home_content tm_3_block_wrap">
        <h2 class="text-uppercase">GET TO KNOW ME</h2>
        <div class="">
            "Let's build something amazing together. Get a website that looks amazing and actually works.

            Feel free to take a deeper look at what I've accomplished and what I'm able to do for you."
        </div>
    </div>
    </div>
</div>