<div class="tm_section" id="home">
    <div class="tm_hero_header_wrap">
        <div class="tm_ripple_wrap" id="ripple">
            <div class="overlay"></div>
            <div class="inner_content">
                <div class="image_wrap rainbow">
                    <div class="img_rotate_border">
                        <img src="img/hero/img.jpg" alt="" />
                    </div>
                </div>
                <div class="name_holder">
                    <h3>Thuso <span>Mokopotsa</span></h3>
                </div>
                <div class="text_typing">
                    <p>I'm a <span class="tm_animation_text_word"></span><span class="tm_blink_charecter">|</span></p>
                </div>
            </div>
            <div class="tm_arrow_wrap bounce anchor">
                <a href="#about"><i class="xcon-angle-double-down"></i></a>
            </div>
        </div>
    </div>
</div>